.container {
  color: white;
  margin-top: -340px;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.input {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50px;
  width: 500px;
  height: 40px;
  color: white;
  margin-top: -50px;
  padding-left: 20px;
  border: 1px solid gray;
  outline: none;
}
input:hover {
  background-color: rgb(66, 66, 66);
  width: 500px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  padding-left: 20px;
}
