.header {
  display: flex;
  flex-direction: row;
  direction: ltr;
  justify-content: right;
  flex-grow: 1;
  padding: 10px 10px 70px 10px;
}
.btn1 {
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: white;
  padding: 8px 0px 0px 15px;
}
.menu {
  padding: 7px 0px 0px 25px;
  height: 18px;
  margin-right: 10px;
}
.avatar {
  padding: 0px 0px 0px 0px;
  height: 30px;
  margin-right: 10px;
}
